    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: normal;
        font-style: normal;
    }
    
    a {
        text-decoration: none;
        outline: none;
    }
    
    img {
        border: 0px;
        outline: none;
    }
    
    ul {
        list-style: none;
        margin: 0px;
    }
    
    li {
        list-style-type: none;
    }
    
    html,
    body {
        height: 100%;
    }
    
    .no-pad {
        padding: 0px;
    }
    
    html {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    
    body {
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-text-stroke: 1px transparent;
        width: 100%;
        font-family: 'Krub', sans-serif;
    }
    .dummy_padding {
        padding: 30px;
    }
    /*login section Starts*/
    
    .login_section {
        display: flex;
        flex-direction: column;
        width: 360px;
        max-width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
        height: 100vh;
        margin: 0 auto;
    }
    
    .logo {
        display: flex;
        margin-right: auto;
    }
    
    .logo a {
        text-align: center;
        text-transform: uppercase;
        color: #3498DB;
        font-size: 30px;
        line-height: 39px;
        font-weight: 600;
        text-decoration: none;
    }
    
    .logo a span {
        color: #2ECC71;
    }
    
    .login_form {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        padding-top: 30px;
        width: 100%;
    }
    
    .login_form form {
        margin-top: 30px;
    }
    
    .login_form h2 {
        font-size: 24px;
        line-height: 31px;
        text-transform: uppercase;
        font-weight: 600;
        color: #333333;
        padding-bottom: 5px;
    }
    
    .login_form h5 {
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        color: #959595;
    }
    
    .login-frm-control {
        background: #EEF8FF;
        border-radius: 5px 0px 0px 5px;
        border: 0px;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 11px 16px;
        width: 100%;
        border-left: 5px solid #EEF8FF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
    
    .login-frm-control label {
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        font-weight: 600;
        margin-bottom: 2px;
    }
    
    .login-frm-control input[type="email"],
    .login-frm-control input[type="email"]:focus,
    .login-frm-control input[type="password"],
    .login-frm-control input[type="password"]:focus {
        border: 0px !important;
        background: transparent;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        font-weight: 600;
    }
    
    .form-control.login-frm-control:hover,
    .form-control.login-frm-control:focus {
        background: #ffffff !important;
        border-left: 5px solid #2ECC71;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    }
    
    .form-control.login-frm-control:hover label,
    .form-control.login-frm-control:focus label {
        color: #3498DB;
    }
    
    .login_right_banner {
        height: 100vh;
        object-fit: cover;
        width: 100%;
    }
    
    .login-frm-control .form-group {
        width: 100%;
        display: flex;
    }
    
    a.forgot_pwd {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-align: right;
        color: #333333;
        float: right;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    
    .login_form input[type="submit"] {
        background: #3498DB;
        border-radius: 5px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFF8F4;
        display: flex;
        width: 100%;
        justify-content: center;
        height: 45px;
        max-width: 360px;
        border: 1px solid #3498DB;
    }
    /*login section End*/
    /* tracking-report */
    .base-wrapper.c-i {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px 20px 35px 20px;
    }
    .base-wrapper {
        background: #FFFFFF;
        border-radius: 10px;
        padding: 20px 20px 8px 20px;
    }
    .base_height{
        height: 620px;
    }
    .form-label {
        padding: 6px;
    }
    .page-head-txt {
        font-weight: 900;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        color: #333333;
        text-align: center;
        margin-bottom: 15px;
    }
    
    .page-head-sub-txt {
        font-weight: 400;
        font-size: 15px;
        line-height: 19px;
        text-align: center;
        color: #787776;
        margin-bottom: 20px;
    }
    
    .bg-heading-txt {
        padding: 12px 20px;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        text-transform: uppercase;
        color: #333333;
        margin: 0px;
        background: #EEF8FF;
        border-radius: 5px;
    }
    
    .invite-form-sec {
        padding: 25px 20px;
    }
    
    .label-txt-g {
        font-weight: 400;
        font-size: 13px;
        line-height: 17px;
        color: #000;
        font-weight: 600;
        margin-bottom: 0px;
    }
    
    .inner-txt-btn-g {
        max-width: 400px;
        background: #FFFFFF;
        border: 1px solid #D7E5EE;
        box-sizing: border-box;
        border-radius: 5px;
    }
    
    .txt-box-g {
        background: #FFFFFF;
        border: 1px solid #D7E5EE;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px;
        padding-left: 20px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        width: 100%;
    }
    
    .custom-txt-box-g {
        border: 0px;
        width: 70%;
    }
    
    .add-mail-btn {
        background: #2ECC71;
        border-radius: 5px;
        border: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF;
        padding: 8px 24px;
    }
    
    input:focus,
    input:active,
    button:active,
    button:focus,
    textarea:active,
    textarea:focus {
        outline: 0;
    }
    
    .txt-area-g {
        width: 100%;
        padding: 10px;
        max-height: 130px;
        resize: none;
        min-height: 130px;
        overflow-y: auto;
        overflow-x: auto;
    }
    
    .dec-box-g {
        padding: 15px 20px;
        min-height: 90px;
        max-height: 90px;
    }
    
    .dec-box-g::placeholder,
    .txt-box-g::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #ACACAC;
    }
    
    .form-btn-sec {
        margin: 40px auto;
        text-align: center;
    }
    
    .invite-btn {
        background: #3498DB;
        border-radius: 5px;
        border: 0;
        min-width: 180px;
        padding: 12px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    
    .back-up-btn {
        display: none;
    }
    /* End Tracking report */
    /* Manage Employee */
    
    #emp-name {
        width: 200px;
        max-width: 200px;
    }
    
    .select-box-g {
        width: 200px;
        max-width: 200px;
        background: #FFFFFF;
        border: 1px solid #D7E5EE;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 10px 20px;
    }
    
    .dept-box {
        max-width: 220px;
        width: 220px;
    }
    
    .filter-f {
        max-height: 40px;
        margin-top: 20px;
        margin-right: 15px;
    }
    
    .filter-form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    
    .filter-btn-sm {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        background: #2ECC71;
        border-radius: 5px;
        padding: 10px 20px;
        border: 0px;
        width: 100px;
        height: 40px;
        margin-right: 15px;
        margin-top: 20px;
    }
    
    .reset-btn-sm {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        background: #BABFC2;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        width: 100px;
        height: 40px;
        margin-top: 20px;
    }
    
    select {
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: #ACACAC;
    }
    
    option:not(:first-of-type) {
        color: black;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
    }
    
    .table-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .table-txt-head {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        text-transform: uppercase;
        color: #333333;
        margin: 0px;
    }
    
    .export-btn {
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
        border: 0;
        background: #3498DB;
        border-radius: 5px;
        height: 40px;
        width: 100px;
        margin-right: 20px;
    }
    
    .add-employee-btn {
        background: #2ECC71;
        border-radius: 5px;
        border: 0;
        height: 40px;
        width: 160px;
        font-weight: 600;
        font-size: 15px;
        line-height: 19px;
        color: #FFFFFF;
    }
    
    .employee-table {
        width: 100%;
    }
    
    /* .emp-table {
        margin-top: 20px;
    } */
    
    .bg-lightgreen {
        text-align: center;
        background: #E5E5E5;
        border-radius: 5px;
    }
    
    .employee-table td {
        padding: 10px 10px;
    }
    
    .employee-table thead td {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #000;
        text-align: center;
        white-space: nowrap;
    }
    
    .sort-img {
        margin-left: 10px;
    }
    
    .b-l-r {
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
    }
    
    .b-r-r {
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
    }
    
    .employee-table tbody td {
        padding: 15px 10px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #848383;
        text-align: center;
        white-space: nowrap;
    }
    
    .active-txt {
        color: #2ECC71;
        font-weight: 600;
    }
    
    .inactive-txt {
        font-weight: 600!important;
        color: #E74C3C!important;
    }
    .active_color{
        color: #2ECC71!important;
    }
    
    .employee-table tbody tr {
        border-bottom: 1px solid #D7E5EE;
    }
    .pad_le{
        padding-left: 30px;
    }
    .icon-img {
        display: flex;
        align-items: center;
    }
    
    .pagination a {
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #9A9A9A;
        margin: 10px 15px;
    }
    
    .pagination-sec {
        padding: 25px;
    }
    
    .pagination-sec {
        padding: 25px;
        display: flex;
        justify-content: flex-end;
    }
    
    .pagination a.active {
        background: #3498DB;
        border: 1px solid #3498DB;
        color: white !important;
        padding: 5px;
        border-radius: 50px;
        height: 32px;
        width: 32px;
        text-align: center;
        margin: 5px 15px;
    }
    /* End Manage  Employee */
    /* manage employe add */
    
    .edit-form-sec {
        padding: 0px 20px;
    }
    
    .select-time-sec {
        padding: 30px 20px;
        display: flex;
        align-items: center;
    }
    
    .form-control-time {
        width: 140px;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #D7E5EE;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 12px;
        color: #333333;
    }
    
    .left-time {
        margin-right: 20px;
    }
    
    .select-date-sec {
        padding: 20px 20px;
    }
    
    .week-table {
        width: 100%;
        border-left: 0;
        border-radius: 5px !important;
    }
    
    .week-table td {
        padding: 15px;
        font-weight: 600;
        font-size: 13px;
        line-height: 17px;
        text-align: center;
        color: #333333;
        border: 1px solid #E1EEF5;
        box-sizing: border-box;
        position: relative;
    }
    
    .days-head {
        background: #3498DB;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #FFFFFF !important;
        border: 1px solid #E1EEF5 !important;
    }
    
    .b-lt {
        border-top-left-radius: 5px;
        border-left: 0px !important;
        border-top: 0px !important;
    }
    
    .b-b-lt {
        border-bottom-left-radius: 5px;
        border-left: 0px !important;
        border-top: 0px !important;
    }
    
    .b-rt {
        border-top-right-radius: 5px !important;
    }
    
    .b-b-rt {
        border-bottom-right-radius: 5px !important;
    }
    
    .button-sec-bk-days {
        padding: 10px 30px 10px 30px;
        text-align: center;
    }
    
    .cancel-btn {
        background: #BABFC2;
        border-radius: 5px;
        border: 0;
        width: 120px;
        height: 45px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
        margin-right: 20px;
    }
    
    .save-btn {
        background: #3498DB;
        border-radius: 5px;
        border: 0;
        width: 120px;
        height: 45px;
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FFFFFF;
    }
    .add_padd{
        padding: 0px 28px;
        width: auto;
    }
    /* check box */
    
    input[type="checkbox"]:checked+span.checkbox-button__control {
        border: none !important;
    }
    
    input[type="checkbox"]:checked+span.checkbox-button__control:after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        left: -1px;
        width: 24px;
        height: 24px;
        background-image: url("../images/checked.png");
        background-size: cover;
    }
    
    input[type="checkbox"] {
        opacity: 0;
    }
    
    .checkbox-button__control {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 12px;
        vertical-align: middle;
        background-color: inherit;
        color: white;
        border: 1px solid #C3DAE7;
        background: white;
        border-radius: 2px;
        top: -2px;
        transform: scale(0.75);
    }
    
    input[type="checkbox"]:checked+span.checkbox-button__control {
        border-color: transparent;
    }
    
    .days-check {
        position: absolute;
        z-index: 1;
        margin-top: 4px;
        margin-left: 5px;
    }
    /* end check box */
    /* manage employee add end */


    /* manage employee view */

    .employe-detail-txt {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
    }
    .text_dot{
        font-size: 40px!important;
    }
    .date-sec {
        padding: 20px ;
    }

    .date-selection {
        border-bottom: 1px solid #D7E5EE;
        border-radius: 5px;
    }

    .working-details {
        padding-top: 30px;
    }

    .screen-shot-sec {
        padding-top: 30px ;
        display: flex;
        flex-wrap: wrap;
        vertical-align: middle;
    }

    .sc-img {
        margin-right: 10px;
    }

    .sc-btn {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        text-decoration-line: underline;
        color: #333333;
        border: none;
        background: none;
    }

    .inner-sc {
        margin: 10px 0px;
        margin-right: 50px;
    }

    .date-selection {
        padding-bottom: 20px;
    }

    .day-select-g {
        margin-right: 15px;
    }

    .sc-modal-content {
        padding: 20px;
    }

    .sc-modal-head {
        padding: 0px;
        border: 0;
        margin-bottom: 20px;
    }

    .sc-modal-head h2 {
        width: 100%;
    }

    .sc-close {
        opacity: 1;
        position: absolute;
        right: -20px;
        top: -20px;
    }

    .sc-modal-body {
        padding: 0px;
        overflow: auto;
    }

    .txt-box-g:focus{
        border: 1px solid #3498DB;
    }
    /* end manage employee view */

    /* edit profile view */
    .passwor-inner-sec {
        padding: 30px 20px;
    }

    .view-pw-icon {
        position: absolute;
        top: 10px;
        bottom: 0;
        right: 30px;
        cursor: pointer;
    }


    


/*datepicker*/
    
.date-selection {
    display: flex;
}

.date-piks {
    width: 200px;
    max-width: 100%;
    background: #FFFFFF;
    border: 1px solid #D7E5EE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px 20px;
    background: url('../images/calendar.png');
    background-repeat: no-repeat;
    background-position: 93% center;
}
/*datepicker*/
/*upload*/

.upload {
    background: #fff url(../images/upload-file.png) no-repeat scroll 98% center;
    border: medium none;
    cursor: pointer;
    float: right !important;
    height: 40px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #D7E5EE;
    width: 100%;
}

.upload input[type="file"] {
    float: right;
    height: 60px;
    opacity: 0;
    width: 66px;
}

.uploaded-value {
    color: #333333;
    float: left;
    position: absolute;
    top: 7px;
    left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 254px;
    white-space: nowrap;
    background: #F0F3F4;
    border-radius: 5px;
    padding: 3px;
    height: 25px;
}
/*upload*/

    /* end edit profile view */


    /* Login page employee module */

    .login-web-wrapper {
        width: 100%;
        height: 100%;
    }

    .login-web-popup {
        width: 480px;
        height: 500px;
        background: white;
        padding: 50px;
        transform: translate(10%, 10%);
        display: block;
    }

    .web-btn {
        width: 170px;
        height: 50px;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        color: #FFF8F4;
    }

    .login-track-popup {
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        width: 500px;
        height: 271px;
        padding: 20px 30px;
        max-height: 271px;
        transform: translate(1%, 50%);
        display: block;
        margin: 0px auto;
    }

    .logo {
        display: flex;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;
    }

    .pop-up-head h5 {
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        color: #333333;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pop-up-head h5 span {
        color: #3498DB;
        font-weight: 700;
        font-size: 24px;
    }

    .checkin-btn {
        font-family: Krub;
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
        line-height: 18px;
        color: #FFF8F4;
        border: none;
        background: #2ECC71;
        border-radius: 5px;
        width: 140px;
        height: 40px;
    }

    .offthe-btn {
        font-family: Krub;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFF8F4;
        border: none;
        background: #E74C3C;
        border-radius: 5px;
        width: 140px;
        height: 40px;
    }

    .checkout-btn {
        background: #3498DB;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFF8F4;
        border: none;
        width: 140px;
        height: 40px;
    }

    .resume-btn{
        background: #F39C12;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFF8F4;
        border: none;
        width: 140px;
        height: 40px;
    }

    .button-area {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .active-sec h2 {
        font-weight: 500;
        font-size: 16px;
        line-height: 21px;
        color: #333333;
        margin: 0px;
    }

    .active-sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #EFF9FF;
        border-radius: 5px;
        padding: 12px 10px;
    }

    .active-a-btn {
        background: #2ECC71;
        border-radius: 5px;
        width: 90px;
        height: 35px;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #FFF8F4;
        border: none;
    }
    /* end login page */
    /*start screenshot*/
    .screenshot_table td a img {
        margin-left: 35px;
    }
    /*end screenshot*/
    .edit-select-g,.edit_select{
        -moz-appearance: none;
        -webkit-appearance: none;
        background: url(../images/down_arrow.png) no-repeat 95%;
    }
    option.option_text{
        
    }


.nav_main_bar{
    float: left;
    width: 100%;
    display: flex;
    background: #FFF;
    justify-content: space-between;
    align-items: center;
}
img.logo_top {
    width: 100px;
}
.nav_main_bar h1 {
    font-size: 20px;
    margin-bottom: 0px;
    font-weight: bold;
}
img.enzen_img{
    width: 80px;
} 
/* a.nav-link {
    width: 102px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    display: flex;
    height: 50px;
} */
.form-input-side textarea{
    background: #FFFFFF;
    border: 1px solid #D7E5EE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
    height: 100px;
}
.sub_navbar li.nav-item.active {
    background: #f9942b;
    border-radius: 5px;
}
.sub_navbar li.nav-item.active a.nav-link {
    color: #FFF !important;
    font-weight: bold;
}
.sub_navbar li.nav-item {
    margin: 0px 7px;
}
nav.navbar.navbar-expand-lg.navbar-light.sub_navbar {
    background: #921322;
}
span.user {
    border: 1px solid #fff;
    padding: 5px 15px;
    border-radius: 6px;
    color: #fff;
}
span.user a{
    color: #fff;
    text-decoration: none;
}
.sub_navbar a.nav-link {
    color: #FFF !important;
    text-transform: uppercase;
    font-size: 13px;
}
.sub_navbar a.nav-link:hover {
    color: #f1b06d !important;
    font-weight: bold;
}
.sub_navbar select.select-box-g.edit-select-g {
    color: #000;
    font-weight: 500;
}
.bottom_attachment{
    text-align: center;
}
.bottom_attachment input[type="file"] {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D7E5EE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
}
.bottom_attachment input[type="date"] {
    /* text-align: center; */
    background: #FFFFFF;
    border: 1px solid #D7E5EE;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    width: 100%;
}
.employee-table tr td.table_head_title{
    font-size: 19px;
    font-weight: bold;
}
.bottom_attachment h4{
    margin-bottom: 10px;
}
button.btn.update_btn {
    width: 120px;
    height: 45px;
    margin-right: 20px;
    background: #2ECC71;
    color: #FFF;
    font-weight: bold;
}
button.btn.ukpn {
    width: 200px;
    background: #f9a21c;
    height: 45px;
    margin-right: 20px;
    color: #FFF;
    font-weight: bold;
}
.button-sec-bk-days button:hover{color:#FFF;}  

/* job management stsrt */

.job_management_table_head h1{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #252627;
    margin-bottom: 0px;
}
.job_management_table_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.job_management_table_head select{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 5px;
    width: 240px;
    padding: 9px 20px;
    -webkit-appearance: none;
    background: url(../images/select_black_arrow.png) no-repeat 90%;
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #000000; 
}
.assign_btn{
    padding: 9px 30px;
    background: #27AE60;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 20px;
}
.assign_btn:hover{
    color: #FFFFFF;    
}
.upload_btn{
    padding: 9px 40px;
    border: 1.5px solid #ED8309;
    border-radius: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #ED8309; 
}
.upload_btn:hover{
    color: #ED8309; 
    border: 1.5px solid #ED8309;    
}
.c_input input.html0 {
    padding: 0;
    height: initial;
    width: initial;
    margin: 0px !important;
    display: none;
    cursor: pointer;
}

.c_input.form-group label {
    position: relative;
    cursor: pointer;
    margin-bottom: unset;
}
.sub-check .c_input.form-group label {
    text-transform: capitalize;
    white-space: initial;
}

.sub-check .c_input.form-group label:before {
    top: 5px;
}

.sub-check .c_input.form-group label:after {
    top: 8.1px;
}

.c_input.form-group input:checked+label:before {
    background: transparent;
}

.c_input.form-group input:checked+label:before {
    border: 1px solid #A71F11;
}

.c_input.form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: unset;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: unset;
    cursor: pointer;
    margin-right: 5px;
    border: 1px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 3px;
    background: #FFF;
}

.c_input.form-group input:checked+label:after {
    background: #A71F11;
}

.c_input.form-group label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 2px;
}
.assign_body{
    display: flex;
    align-items: center;
}
.text_left{text-align: left !important;}


.upload{
    font-weight: bold;
}
.buttons-bulk1{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.btn-upload-bulk1{
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(118, 212, 118);
    background-color: transparent;
    border: 1px solid rgb(118, 212, 118);
    border-radius: 5px;
    font-weight: bold;
}
.btn-cancel-bulk1{
    text-decoration: none;
    padding: 10px 43px;
    color: rgb(245, 99, 99);
    background-color: transparent;
    border: 1px solid rgb(245, 99, 99);
    border-radius: 5px;
    font-weight: bold;
}
.btn-cancel-bulk1:hover{
    text-decoration: none;
    color: #fff;
    background-color:rgb(245, 99, 99) ;
    transition: .2s;
}
.btn-upload-bulk1:hover{
    text-decoration: none;
    color: #fff;
    background-color:rgb(118, 212, 118) ;
    transition: .2s;

}
.text-bulk1{
    text-align: center;
    
}
.csv{
    color: rgb(118, 212, 118);
    padding-right: 10px;
    font-size: 16px;
}
.xls{
    color: rgb(245, 99, 99);
    padding-left: 10px;
    font-size: 20px;
}
.custom-file-label::after{
    color: #FFFFFF;
    background-color: #F59A30;
}
.bg-primary {
    background-color: #9A0110 !important;
}
h4.modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF  
}
button.close {
    color: #FFFFFF;
}
button.close:hover{
    color: #FFFFFF;
}
#update_popup .modal-body {
    padding: 35px 80px;
}
.buttons-bulk1{
    margin: 20px 0px 30px;
}
p.text-center{margin-bottom: 0px;}
/* bulk popup end */

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a.second_a:after{
    transform: rotate(90deg);
    right: 17px;
    color: #3498DB
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li>a.second_a::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 9px;
}
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li>a.second_a.act::after{
    transform: rotate(90deg);
    right: 17px;
    color: #3498DB;
}

/* chart start */
.chart_flex_Wrap {
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .chart_flex_Wrap .width_30 {
    width: 32%; 
    margin: 20px 0px;
    padding-bottom: 17px;
    box-sizing: border-box;
    background: white;
    border-radius: 7px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
  }
  .chart_flex_Wrap .width_50 {
    width: 49%;
    background: white;
    border-radius: 7px;
    padding: 10px 30px 30px;
    box-shadow: -1px 0px 12px 1px #dddddd;
    -webkit-box-shadow: 0px 0px 7px -1px #dddddd;
    -moz-box-shadow: -1px 0px 12px 1px #DDDDDD;
    -o-box-shadow: -1px 0px 12px 1px #DDDDDD;
  }
  .footer_center p span {
    color: #000000;
    font-weight: 500;
  }
  .footer_center p {
    color: #646464;
    text-transform: uppercase;
  }
  .footer_center {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 22px;
    font-size: 13px;
  }
  .chart_flex_Wrap h1.pb_20 {
    font-size: 16px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    text-align: center;
  }
  .main_content.width_50.ml_0.mr_0 .footer_center {
    margin-top: 0px;
  }
  .chart_legend {
    position: relative;
  }
  .chart_legend .qm_right_list {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
  }
  span.org {
    width: 13px;
    height: 13px;
    background: #ffc000;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
  span.grn {
    width: 13px;
    height: 13px;
    background: #70ad47;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
  span.blu {
    width: 13px;
    height: 13px;
    background: #5b9bd5;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
  span.plo {
    width: 13px;
    height: 13px;
    background: #4472c4;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
  span.deliv {
    width: 13px;
    height: 13px;
    background: #ed7d31;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
  span.sil {
    width: 13px;
    height: 13px;
    background: #a5a5a5;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    margin-top: 6px;
  }
.piechart_2{display: none;}
.barchart_2{display: none;}
.barchart_3{display: none;}
.qm_epn h1 {
    font-size: 15px;
    margin-right: 10px;
}
.qm_bottom {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.qm_right span{
    min-width: 30px;
}
.qm_right_list_1{
    display: flex;
}
.qm_right_list_1 h1{
    font-size: 10px;
    width: 80%;
    margin-right: 10px;
}
.qm_right_list_1 h2{
    font-size: 10px;
}
.header_left h2{
    font-size: 15px;
    transform: translateX(12%);
}
canvas#myChart {
    margin-top: 35px;
}
canvas#myChart2 {
    margin-top: 35px;
}
canvas#myChart3 {
    margin-top: 35px;
}
canvas#myChart5{
    margin-top: 35px;    
}
.qm_month_main{text-align: center;}



/* login */


.page-inner { position: relative; background: url('../images/Banner-1.jpg')no-repeat #fff 100% 100%; background-size:cover;display: block;width: 100%;float: left; min-height: 100vh;padding: 80px 0px 40px 40px; }

.login-sec {display: block;float:left;width:660px;max-width: 100%;position: relative; background: url('') #FAFBFD no-repeat;box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);border-radius: 5px; background-position: -20px -10px}

.login-sec img {display: block;  margin: 60px auto  auto;}

.login-sec h1 {font-size: 28px;font-weight:700;line-height: 34px;font-style: normal;color: #3D4030;text-align: center;margin-top: 43px;margin-bottom: 38px;}

.login-sec h1 span  {color: #f9942b;margin-left: 10px;}

.login-sec form {   margin: 30px 100px;}

.login-sec form input {width: 100%;border: 1px solid #DFDFDF; background: #FFFFFF;border-radius: 5px;padding: 15px 40px 15px 25px;outline: none;margin-bottom: 30px;font-style: normal;font-weight: 500;font-size: 17px;line-height: 25px;color: #353631;}

.login-sec form label,.login-sec form label a {margin-bottom: 16px;font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;color: #8F9087;}

.login_float_right{float: right;}

.login-sec form label span a {margin-bottom: 16px;font-style: normal;font-weight: 500;font-size: 16px;line-height: 19px;color: #8F9087;display: flex;align-items: center;justify-content: space-between;margin-bottom: 0px;}

.for-btn { width: 100%; background: #f9942b; height:55px; border: none;border-radius: 5px;}

.login-sec form p {font-style: normal;font-weight: 300;font-size: 18px;line-height: 22px;text-align: center; margin: 50px 0px 20px 0px; color: #7D7E76;}

.login-sec form h4 a { font-style: normal;font-weight: bold;font-size: 18px;line-height: 22px;text-transform: uppercase;color: #3D4030; text-align:center;width: 100%;display: block;}

.for-btn a {color: #FFF !important; text-align: center;font-style: normal;font-weight: 700;font-size: 18px;line-height: 22px;}

.form-group button:hover {box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2);}

.login-sec form input:focus{box-shadow: 0px 9px 20px 2px rgba(0, 0, 0, 0.2); border: none;}

.new {margin-bottom: 40px;}

.login-bx {position: relative;}

.eye-icon {position: absolute;top: 50px;right: 13px;background: none;border: 0; cursor: pointer;}

.eye-icon svg {position: relative;top: unset;left: unset;}

.login-bx svg {position: absolute;left: -25px;top: 4px;}

#pw-open { display: none }

.cus-chckbox {
  display: block;
  margin-bottom: 15px;
}

.cus-chckbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.cus-chckbox label {
  position: relative;
  cursor: pointer;
  display: block !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 17px !important;
  line-height: 20px !important;
  color: #3D4030 !important;
  margin-left: 18px;

  margin-bottom: 0px !important;


}

.cus-chckbox label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #3D4030;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 18px;
  border-radius: 2px;
}

.cus-chckbox input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  left: 9px;
  width: 5px;
  height: 10px;
  border: solid #FFF;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.cus-chckbox input:checked + label:before{
	background: #3D4030;
}


.backgrd-sec {
    margin: auto;
    display: block;
    width: 627px;
    height: 20px;
    position: absolute;
    top:65px;
    background: #FAFBFD;
    box-shadow: 0px 0px 16px rgb(0 0 0 / 25%);
    border-radius: 5px;
    left: 56px;
}


/*Forget password*/

.page-inner-fg { position: relative; background: url('../images/Banner-1.jpg')no-repeat #fff 100% 100%; background-size:cover;display: block;width: 100%;float: left; min-height: 100vh;padding: 80px 0px 40px 40px; }

.fg-txt {margin-top: 100px !important;}

h4.bck-txt a img {margin: 0px;margin-right: 8px;margin-top: 0px;}

h4.bck-txt {margin: 43px 0px 100px 0px; }

h4.bck-txt a { display: flex !important;align-items: center;justify-content: center;}



/*create new  password*/


form.form-group.mar-btm { margin-bottom: 100px;}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
  top: 45px;
  right: 16px;
  color: #A9A9AA;
}


/* sign up  */

.sin-btn-sec {padding: 0px 100px;}

.sing-sec-txt p {font-style: normal;font-weight: 300;font-size: 18px;line-height: 22px;text-align: center;margin: 50px 0px 20px 0px; color: #7D7E76;}  

.sing-sec-txt h4 a {margin-bottom: 60px; font-style: normal;font-weight: bold;font-size: 18px;line-height: 22px;text-transform: uppercase;color: #3D4030;text-align: center;width: 100%;display: block;}


form.form-group.mar-btm.min-hei {
  margin-bottom: 20px;
  min-height: 350px;
  height: 350px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0px 10px;
  margin: 30px 90px 30px 90px;
}

 /* width  */
#scroll::-webkit-scrollbar {
  width: 4px;
  background: #CACFE7;
}

/* Track  */
#scroll::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
 /* Handle  */
 #scroll::-webkit-scrollbar-thumb {
  background: #ACADB5; 
  border-radius: 10px;
  width: 6px;
  height: 20px;
}

select.sel-txt { background: url('../images/select-arrow.png')no-repeat #FFF;background-position: 95% center; width: 100%;border: 1px solid #DFDFDF; border-radius: 5px;padding: 15px 40px 15px 25px;outline: none;margin-bottom: 30px;font-style: normal;font-weight: 500;font-size: 17px;line-height: 25px;color: #353631;}

/* select{
appearance: none;
	-webkit-appearance: none;

} */


/* delete popup */

#Delete-Popup .modal-content {
    background: #FFF !important;
}

.delete_popup {
    background: #e74c3c;
}

.delete_popup img {
    background: #e74c3c;
    top: 18px;
}

element.style {
}
.delete_popup img {
    background: #e74c3c;
    top: 18px;
}
.logout_circle img {
    width: 100%;
    max-width: 48px;
    position: absolute;
    top: 25px;
}
span.user.active {
    border: 1px solid transparent;
    padding: 5px 20px;
    border-radius: 6px;
    color: #fff;
    background: #eb1a33;
    font-weight: bold;
}